:root { font-size: 16px; }

body {
  margin: 25px auto;
  text-align: center;
}

.container__btn {
  padding: 10px 15px;
  border: 1px solid blue;
  background: transparent;
  color: blue;
  font-size: 2rem;
}

@media not all and (hover: none) {
	.container__btn {
    &:hover { 
      background: blue;
      color: white; 
    
    }
	}
}


.container__output {
  margin-top: 15px;
  font-size: 2.5rem;
}